<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134942953873-ov77c1p9bg10sgln0nlvv5j1ohhflh8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134942953873-ov77c1p9bg10sgln0nlvv5j1ohhflh8b</string>
	<key>API_KEY</key>
	<string>AIzaSyA20tDQtV_LW9TokCaUyWnTjk3pWxryX4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>134942953873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aktuelUrunlerBimA101Sok</string>
	<key>PROJECT_ID</key>
	<string>aktuel-urunler-e74b5</string>
	<key>STORAGE_BUCKET</key>
	<string>aktuel-urunler-e74b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134942953873:ios:c2b442687cd277a954ca30</string>
</dict>
</plist>